html {
  font-family: 'Open sans', sans-serif;
  background-color: #fff;
  color: #000;
}

.content {
  padding-top: 1rem;
}

.btn:hover {
  border: #f2f2f2 solid 4px;
}

.joe {
  padding: 0;
  margin-bottom: .5rem;
}
